body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    background-color: #1d4e6f;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
}

form {
    background: rgb(212, 174, 209);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, legend {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

fieldset {
    border: none;
    padding: 10px 0;
}

input[type="submit"] {
    display: block;
    width: 100%;
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #218838;
}

footer {
    background-color: #1d4e6f;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.flower {
    color: pink;
}
